<form [formGroup]="submitForm" (ngSubmit)="Submit($event)">
  <div class="mb-3">
    <label for="title" class="form-label">Blog Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
    />
  </div>
  <div class="mb-3">
    <label for="subtitle" class="form-label">Blog Subtitle</label>
    <input
      type="text"
      class="form-control"
      id="subtitle"
      formControlName="subtitle"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Blog Description</label>
    <ckeditor [editor]="Editor" formControlName="desc"></ckeditor>
  </div>

  <button type="submit" class="btn btn-success">Add Blog</button>
</form>
